/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic body styling */
body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 50px 0;
}

/* Header title */
.header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* Header subtitle */
.header p {
  font-size: 20px;
  margin-top: 0;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

/* Logo styling */
.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

/* Hover effect for navigation links */
.nav-links a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Sidebar Container */
.sidebar {
  width: 200px;
  height: 100vh;
  background: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tentang Website */
.sidebar a.web {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
}

/* Hover for Tentang Website */
.sidebar a.web:hover {
  color: blue;
}

/* btn container */
.btn-con {
  display: flex;
  gap: 10px;
}

/* btn */
.btn {
  padding: 8px 15px;
  border: 1px solid black;
  background: white;
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-align: center;
}

/* Hover btn */
.btn:hover {
  background: black;
  color: white;
}
